/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
.gray{
    background: #333;
}
.gray2 {
    background: #DBDBDB;
}
.blue{
    background: #00BDF4;
}
.blue2{
    background: #00C6FF;
}
.blue3{
    background: #4CD7FF;
}
.yellow{
    background: #FFCC33;
}
.green{
    background: #1AFCC0;
}
.green2{
    background-color: #39DBC9;
}
.green3{
    background: #6FFFB2;
}


body {
    padding-bottom: 40px;
    color: #5a5a5a;
}
.margin-top-10{
    margin-top: 10px!important;
}
.margin-top-20{
    margin-top: 20px!important;
}
.margin-top-30{
    margin-top: 30px!important;
}
.margin-top-40{
    margin-top: 40px!important;
}
.margin-top-50{
    margin-top: 50px!important;
}
.margin-top-60{
    margin-top: 60px!important;
}
.margin-top-70{
    margin-top: 70px!important;
}
.padding-top-10{
    padding-top: 10px!important;
}
.padding-top-20{
    padding-top: 20px!important;
}
.padding-top-30{
    padding-top: 30px!important;
}
.padding-top-40{
    padding-top: 40px!important;
}
.padding-top-50{
    padding-top: 50px!important;
}
.padding-top-60{
    padding-top: 60px!important;
}
.padding-top-70{
    padding-top: 70px!important;
}

.padding-bottom-50{
    padding-bottom: 50px!important;
}
.padding-left-50{
    padding-left: 50px!important;
}
.padding-right-50{
    padding-right: 50px!important;
}

.btn-xl {
    padding: 15px 30px;
}
.btn {
    border: 0;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}
.btn-default {
    border-color: #fff;
    color: #5a5a5a;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.visible{
    display: block;
}

#video-save{
    height: 50%;
    width: 50%;
    float: center;}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar {
    margin-bottom: 0; 
}

.navbar-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    background: #00AADB;
}
.navbar-toggle {
    padding: 9px 10px;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 8px;
    border: 5px solid transparent;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover{
    background-color: #5a5a5a;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-inverse .navbar-brand {
    margin-top:10px;
    margin-left: 10px;
}

a.navbar-brand img {
    width: 100%;
}

.navbar-inverse .navbar-collapse{
    margin-top: 20px; 
}

.navbar-inverse .navbar-nav > .active > a{
    border-radius: 5px;
    background: rgba(0,0,0,0.1);
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
}
.dropdown-menu {
    border: 0px; 
    border-radius: 3px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, .175);
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.login a{
    color:#222!important;
}

.navbar-collapse {
    box-shadow: inset 0 0px 0 rgba(255, 255, 255, .1);
    
}

.navbar-inverse .navbar-collapse {
    border-color: #00AADB;

}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 768px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    text-shadow: none;
    right: 15%;
    top: 200px;
    left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right;

}


/* Declare heights because of positioning of img element */
.carousel .item {
    height: 768px;
    background-color: #00aadb;
    /*  background:  no-repeat center center fixed #00aadb;*/
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 768px;
}
.carousel-indicators {
    bottom: 65px;
}
.carousel-indicators-mini {
    bottom: 20px;
}

.item iframe{
    width: 100%;
    height: 100%;
}

.carousel-control.left {
  background:transparent;
}
.carousel-control.right {
  background:transparent;
}
.carousel-control img.arrowLeft {
  width: 50px;
}
.carousel-control img.arrowRight {
  width: 50px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
/*    padding-right: 15px;
    padding-left: 15px;*/
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}
.text-muted{
    color: white;
}

.bg-primary {
    color: #fff;
    background-color: #39DBC9;
    padding: 60px 0;
}

#about {
    text-align: center;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.featurette img{
    text-align: center;
}

#sidebar {
    position: absolute;
    right: -3px;
    top: 180px;
    z-index: 10;
}
#sidebar nav {
    background: #444;
    padding: 5px;
    width: 38px;
    margin-left: 0;
    cursor: pointer;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    border-radius: 2px;

}
#sidebar nav a {
    color: #fff;
    font-family: 'SourceSansPro-Light';
    font-size: 1.1em;
    text-transform: uppercase;
    opacity: 1;
    text-decoration: none;
}
#sidebar nav a:hover {
    opacity: .9;
}
.panel-body lead p{
    margin-bottom: 0;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-right: 0;
        padding-left: 0;
    }

    /* Navbar positioning foo */

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left:  15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left:  0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }

}
@media (max-width: 767px){
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #0E86A9;
    }
}


@media (max-width:320px){
    .navbar-collapse {
        float: left;
        width: 100%;
    }
    .nav-bar-nav {
        float: left;
    }
}


/* Fonts
==================================================*/

@font-face {
    font-family: 'SourceSansPro-Bold';
    src:  url('../font/SourceSansPro-Bold.ttf') format('opentype');
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SourceSansPro-Regular';
    src:  url('../font/SourceSansPro-Regular.ttf') format('opentype');
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Light';
    src:  url('../font/SourceSansPro-Light.ttf') format('opentype');
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
}    